<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL shortener</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form class="container" action="/shorten" method="post">
      <h1>URL shortener</h1>

      <input type="text" placeholder="Long url here" name="longURL" />
      <button class="btn" type="submit">Shorten</button>
      <%if(shortURL){ %>
      <p>
        short Url : <a href="<%=shortURL %>" target="_blank"> <%=shortURL%> </a>
      </p>

      <%}%>
    </form>
  </body>
</html>
